<h1>Listing all Articles</h1>
<%= link_to "Create new article", new_article_path %>
<table border=1 cellspacing=0 cellpadding=1>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title.capitalize %></td>    
    <td><%= article.description %><BR/>
    <small>Created by: <span style=color:blue> <%= article.user ? article.user.username : "(Not available)" %></span>,
    <%= time_ago_in_words(article.created_at) %> ago,
    Last update: <%= time_ago_in_words(article.updated_at) %> ago.
    </small></td>    
     <td><%= link_to "Edit", edit_article_path(article) %></td> 
      <td><%= link_to "Show", article_path(article) %></td>
      <td><%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Delete, Are you sure?"} %></td>
  </tr>
  <% end %>
</table>